

.loginPage{
    width: 40%;
    margin: auto;
    
    .loginPage--form{
        background-color: rgba(185, 185, 183, 0.233);
        border-radius: 5px;
        border-color: #119872 !important;
        box-shadow: 2px 3px 10px gray;
        align-items: center;
        color:rgb(242, 116, 13) !important;

        .loginPage--form--img{
            text-align: center;
            display: block;
            h3{
                position: relative;
                bottom: 1.5rem;
                font-weight: bold;
            }
        }
    }
}