.registerPage--form {
    background-color: rgba(185, 185, 183, 0.233) !important;
    border-radius: 5px;
    border-color: #119872 !important;
    box-shadow: 2px 3px 10px gray;
    align-items: center;
    color:rgb(242, 116, 13) !important;
}